.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: calc(100%-40px);
    padding: 0 20px;
    margin-top: 36px;

    /* position: fixed;
    z-index: 15; */
}

.logo{
    font-family: 'Alatsi';
    font-size: 24px;
    /* font-weight: bold; */
    width: 69px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    height: 50px;
    width: 50px;
}